extends base.pug
block content 
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    li.side-nav--active
                        a(href='#')
                            svg
                            use(xlink:href='img/icons.svg#icon-settings')
                            | Settings
                    li
                        a(href='#')
                            svg
                            use(xlink:href='img/icons.svg#icon-briefcase')
                            | Password
                    li
                        a(href='#')
                            svg
                            use(xlink:href='img/icons.svg#icon-briefcase')
                            | Bookings
                    li
                        a(href='#')
                            svg
                            use(xlink:href='img/icons.svg#icon-star')
                            | Reviews
                    li
                        a(href='#')
                            svg
                            use(xlink:href='img/icons.svg#icon-credit-card')
                            | Billing
                //- .admin-nav
                //-     h5.admin-nav__heading Admin
                //-     ul.side-nav
                //-         li
                //-             a(href='#')
                //-             svg
                //-                 use(xlink:href='img/icons.svg#icon-map')
                //-             | Manage tours
                //-         li
                //-             a(href='#')
                //-             svg
                //-                 use(xlink:href='img/icons.svg#icon-users')
                //-             | Manage users
                //-         li
                //-             a(href='#')
                //-             svg
                //-                 use(xlink:href='img/icons.svg#icon-star')
                //-             | Manage reviews
                //-         li
                //-             a(href='#')
                //-             svg
                //-                 use(xlink:href='img/icons.svg#icon-briefcase')

            .user-view__content
                .user-view__form-container#Settings 
                    h2.heading-secondary.ma-bt-md Your account settings
                    form.form.form-user-data(enctype="multipart/form-data" method = "post" action = "/update-profile")
                        .form__group
                            label.form__label(for='name') Name
                            input#name.form__input(type='text', value=`${user.name}`, required,name="name")
                        .form__group.ma-bt-md
                            label.form__label(for='email') Email address
                            input#email.form__input(type='email', value=`${user.email}`, required,name="email")
                        .form__group.form__photo-upload
                            img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
                            label.form__label(for='photo') Upload Photo
                            input#photo.form__input(type="file" name="photo")
                        .form__group.right
                            button.btn.btn--small.btn--green(id = "settings") Save settings
                .user-view__form-container.container-hidden#Password
                    h2.heading-secondary.ma-bt-md Password change
                    form.form.form-user-settings
                        .form__group
                            label.form__label(for='password-current') Current password
                            input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group
                            label.form__label(for='password') New password
                            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.ma-bt-lg
                            label.form__label(for='password-confirm') Confirm password
                            input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.right
                            button.btn.btn--small.btn--green(id = "passwordChange") Save password
                .user-view__form-container.container-hidden#Bookings
                    h2.heading-secondary.ma-bt-md Booked Tour
                    ul.results
                        - for (const tour of tours) {
                        li.preview
                            .card__details 
                            h4.card__sub-heading=tour.name
                            p.card__text=tour.summary    
                            .card__data 
                                svg.card__icon
                                    use(xlink:href="img/icons.svg#icon-map-pin")
                                    span=tour.startLocation.description
                            .card__data
                                svg.card__icon 
                                    use(xlink:href="img/icons.svg#icon-calendar")
                                    span=tour.startDates[0].toLocaleString ("eng-us",{month : long}) 
                            .card__data
                                svg.card__icon 
                                    use(xlink:href="img/icons.svg#icon-flag")
                                    span #{tour.locations.length} Stops
                            .card__data
                                svg.card__icon 
                                    use(xlink:href="img/icons.svg#icon-user")
                                    span=tour.maxGroupSize
                            a.btn.btn--green.btn--small(href=`tour/${tour.slug}`) Details  



                            //- //- a(class="preview__link preview__link--active", href="#${ele.id}")
                            //- figure(class="preview__fig")
                            //-     img(src=`/img/tours/${tour.imageCover}`, alt="Test")
                            //- div(class="preview__data")
                            //-     h4(class="preview__title")=tour.name
                            //-     p(class="preview__publisher")=tour.summary
                        -}
